.card-fav-plat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.5rem;
  width: 100%;
  height: 100px;

  img {
    width: 70px;
    border-radius: 10px;
  }

  .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0 0.5rem;
    width: 60%;

    h4 {
      font-size: var(--h4);
    }

    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 0.5rem;
      height: 20px;
    }
  }

  .note {
    display: flex;
    justify-content: center;
    background-color: var(--third);
    border-radius: 10px;
    width: 45px;
    padding: 0.25rem 0;
    flex-shrink: 0;
    margin-right: 20px;
  }

  #card-fav-plat-closeIcon {
    background: none;
  }
}
