// button en bas => shrink
.button-bas {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--background);
  width: 90%;
  height: 70px;
  max-width: 500px;
  margin-top: 20px;
  border-radius: 10px;
  z-index: 1;

  flex-shrink: 0;
  flex-grow: 0;

  &.right {
    justify-content: flex-end;
  }
  &.space {
    justify-content: space-between;
  }

  .grad {
    width: 100%;
    height: 100%;
  }

  .butt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: transparent;
    padding: 0.2rem;
    font-weight: 500;
    font-size: var(--h4);
    height: 70px;

    span.fleche {
      padding-left: 1rem;
    }

    span.round {
      position: absolute;
      z-index: -1;
      right: -5px;

      height: 28px;
      width: 28px;
      margin-left: 0.5rem;
      border-radius: 50%;
      background-color: var(--third);
    }
  }
}

.button-top {
  width: 90%;
  max-width: 500px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 20px 0;
  z-index: 1;

  .butt {
    background-color: transparent;
    padding: 0.2rem;
    font-size: var(--h4);
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &.big {
      font-size: var(--h3);
      font-weight: 600;
    }

    span.fleche {
      padding-right: 1rem;
      z-index: 2;
    }

    span.round {
      position: absolute;
      z-index: 1;
      left: -12px;

      height: 28px;
      width: 28px;
      margin-left: 0.5rem;
      border-radius: 50%;
      background-color: var(--fourth);
    }
  }
}
