.connexion,
.enfant,
.parent,
.moyens-paiements,
.new-confiance,
.perso-confiance {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 90%;
    flex-grow: 1;

    label:not(.check):not(.toggle) {
      position: relative;
      width: 100%;

      input:focus,
      input:valid {
        color: var(--front);
      }

      input {
        border: 3px solid var(--front);
        background-color: transparent; //ok
        border-radius: 10px;
        padding: 0.5rem;
        width: 100%;
        height: 50px;
        /* enleve la border de base */
        outline: none;
        color: transparent; // important

        &:focus {
          border-color: var(--third);

          & + p {
            transform: translate(5px, -9px);
            font-size: 13px;
            padding: 0 5px;
            color: var(--third);
            border-right: 3px solid var(--third);
            border-left: 3px solid var(--third);
            border-radius: 5px;
            line-height: 20px;
            background-color: var(--background);
          }
        }

        &:valid {
          border-color: var(--green);

          & + p {
            transform: translate(5px, -9px);
            font-size: 13px;
            padding: 0 5px;
            color: var(--green);
            border-right: 3px solid var(--green);
            border-left: 3px solid var(--green);
            border-radius: 5px;
            line-height: 20px;
            background-color: var(--background);
            transition: 0s;
          }
        }

        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      p {
        position: absolute;
        left: 10px;
        top: 0px;
        /* comme input height */
        line-height: 50px;
        transition: 0.3s;
      }

      .view-password {
        position: absolute;
        right: 10px;
        top: 17px;

        background: transparent;
      }
    }
  }
}

.moyens-paiements {
  p {
    text-align: center;
  }
}
