.profil-plat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px var(--second) solid;
  width: 100%;
  max-width: 500px;

  .container-image {
    background: var(--gradient);
    border-radius: 50%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding: 5px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    font-weight: 500;

    h3 {
      font-size: var(--h3);
    }

    p {
      color: var(--third);
    }
  }
}
