@import "./variables.scss";
@import "./reset.scss";

@import "../components/landing/home.scss";

@import "../components/register/register.scss";
@import "../components/login/login.scss";
@import "../components/login/synthesis.scss";

@import "../components/dashboard/dashboard.scss";

// --- appli ---
@import "../style/appli/applituto.scss";
@import "../style/appli/applimenu.scss";
@import "../style/appli/applisearch.scss";
@import "../style/appli/applifiltres.scss";
@import "../style/appli/applicardcreche.scss";
@import "../style/appli/appliReservation.scss";
@import "../style/appli/appliuser.scss";
@import "../style/appli/appliUserCompletion.scss";
@import "../style/appli/applinotif.scss";
@import "../style/appli/applimessage.scss";

@import "../components/appli/formChanger.scss";
@import "../components/appli/buttons.scss";
@import "../components/appli/recherche/carteCreche.scss";
@import "../components/appli/recherche/cardCrecheMap.scss";
@import "../components/appli/recherche/blocJour.scss";
@import "../components/appli/recherche/star.scss";
@import "../components/appli/recherche/popUp.scss";
@import "../components/appli/user/completion.scss";
@import "../components/appli/navbar/navbarApp.scss";
@import "../components/appli/profilplat.scss";
@import "../components/appli/menu/cardFavPlat.scss";
@import "../components/appli/filtres/toggle.scss";
@import "../components/appli/filtres/check.scss";
@import "../components/appli/reservation/appCalendar.scss";

// --- form ---
@import "../components/form/style/formStructure.scss";
@import "../components/form/style/structure1.scss";
@import "../components/form/style/structure2.scss";
@import "../components/form/style/structure3.scss";
@import "../components/form/style/structure4.scss";
@import "../components/form/style/structure5.scss";
@import "../components/form/style/structure6.scss";
@import "../components/form/style/structure7-8.scss";
@import "../components/form/style/structure9.scss";
@import "../components/form/style/structure10.scss";
@import "../components/form/style/structure11.scss";
@import "../components/form/style/structure12.scss";
@import "../components/form/style/structure13.scss";
@import "../components/form/style/structure14.scss";
@import "../components/form/style/structure15.scss";
@import "../components/form/style/structure16.scss";

// --- Messages ---
@import "../components/messages/messages.scss";
@import "../components/messages/forApp/messagesForApp.scss";

// --- Features ---
@import "../components/features/styles/footerLite.scss";
@import "../components/features/styles/navbarLite.scss";
@import "../components/features/styles/features.scss";
@import "../components/features/styles/contact.scss";
@import "../components/features/styles/faq.scss";
@import "../components/features/styles/modal.scss";
