* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	scroll-behavior: smooth;
	font-size: $normal;
	font-family: $text;
	color: $second;
	background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
	cursor: default;
}

body {
	line-height: 1;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}