@import "./nav/dashNavbar.scss";
@import "./reservations/dashReservations.scss";
@import "./agenda/dashAgenda.scss";
@import "./hours/dashHours.scss";
@import "./parameters/dashParams.scss";
@import "./admin/styles/admin.scss";

.dashboard {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 6vh 90vh 4vh;
  grid-template-areas:
    "navbar topbar"
    "navbar main"
    "navbar footer";
  width: 100vw;
  height: 100vh;
  background-color: #e6e6e6;

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: topbar;
    padding: 0 10px;
    gap: 20px;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    box-shadow: -5px 5px 5px rgba(75, 93, 104, 0.1);

    & .dashboardBurger {
      background: none;
      color: $third;
      font-size: $h3;
      cursor: pointer;
    }

    & .dashboardTopNav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        height: 100%;
        background: none;
        color: $third;
        cursor: pointer;

        & img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  & .dashboardSection {
    grid-area: main;

    & .dashboardWelcome {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 50px;
      overflow-y: hidden;

      & .dashboardProfile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        & .dashboardProfilePic {
          border: 1px solid $third;
          border-radius: 50%;
          object-fit: cover;
        }

        & h2 {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: $h1;
          font-family: $display;
          font-weight: 700;

          & span {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px 10px;
            font-size: $normal;
            color: $white;
            background-color: $third;
            border-radius: 50px;

            & svg {
              fill: $white;
            }
          }
        }

        & h1 {
          font-size: 45px;
          font-weight: 500;
          color: $third;
        }
      }

      & .dashboardProfilePres {
        margin: 20px;
        font-size: $h4;
        line-height: 1.4;

        &::first-letter {
          text-transform: capitalize;
        }
      }

      & .dashboardProfilePicList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        & li {
          max-height: 275px;

          & img {
            width: 100%;
            height: 100%;
            border: 1px solid $third;
            border-radius: 5px;
            object-fit: cover;
          }
        }
      }

      & .dashboardProfileContact {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & p {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-weight: 500;
          font-size: $h4;
        }
      }
    }
  }

  & footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    box-shadow: 5px -5px 5px rgba(75, 93, 104, 0.1);

    & p {
      font-size: $xs;

      & span {
        color: red;
      }
    }
  }
}

.ReactModal__Overlay {
  background-color: transparent !important;

  & .notifContainer {
    width: 30%;
    position: absolute;
    padding: 15px;
    top: calc(6vh + 10px);
    right: 10px;
    border-radius: 5px;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    box-shadow: -5px 5px 5px rgba(75, 93, 104, 0.1);

    & .notifInner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: $h4;

      & button {
        background: transparent;
        color: $seventh;
      }
    }

    & hr {
      margin: 5px 0 10px;
    }

    & ul {
      & li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        & button {
          background: transparent;
          font-weight: 500;
        }
      }
    }
  }
}