* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  font: inherit;
  color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: var(--normal);
  font-family: var(--text);
  color: var(--front);
  cursor: default;
  min-height: 100vh;
}

body {
  line-height: 1;
  min-height: 100%;
}

.app {
  background-color: var(--background);
  color: var(--front);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
