.pageWait {
  max-width: 1000px;
  margin: 0 auto;
  height: 97vh;

  .logoWait {
    height: 4vh;
    padding: 0 8px;
    display: flex;
    gap: 8px;
    margin: auto;
    margin-top: 3vh;

    & img {
      max-height: 100%;
    }
  }

  .waitMessage {
    display: flex;
    margin: 3vh auto;
    padding: 5vh 10vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f9f9f9;
    text-align: center;

    & h1 {
      font-family: $display;
      font-size: $h1;
      font-weight: normal;
      color: $third;
    }

    & .inlineLink {
      display: flex;
      gap: 4px;
    }

    & a {
      color: $third;
      text-decoration: underline;
      margin-left: 4px;
    }

    & .boldText {
      font-weight: 500;
    }

    button {
      width: 150px;
      height: 40px;
      color: $white;
      background: $third;
      font-size: $h4;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      margin: 4px;
      padding: 8px;
      border: 1px solid $grey;
      transition: 0.3s ease-in-out;
    }

    & button:hover {
      box-shadow: 2px 2px 6px $grey;
    }
  }
}

@media screen and (max-width: 1000px) {
  .pageWait {
    .waitMessage {
      display: flex;
      margin: 3vh 0 0;
      padding: 5vh 10vw;
      height: 90vh;
      text-align: center;

      h1 {
        font-size: $h2;
      }
    }
  }
}
