.app-calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // top
  .recu-occas {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem 0;

    button {
      padding: 10px 15px;
      background: transparent;
      color: var(--third);
      border: 1px solid var(--third);
      border-radius: 5px;
      font-weight: 500;
    }

    .selected {
      background: var(--third);
      color: var(--background);
    }
  }

  // recurrent
  .calendar-recur {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .container-days {
      width: 100%;
      display: flex;
      justify-content: space-between;

      li {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        color: transparent;

        input {
          display: none;
          width: 100%;
          height: 100%;

          &:checked + label {
            background-color: var(--third);
            color: var(--background);
          }
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          border: 1px solid var(--third);
          color: var(--third);

          p {
            font-size: var(--h3);
            color: var(--front);
            font-weight: 600;
          }
        }
      }
    }
  }

  // le bas
  .choose-hour {
    margin-top: 2.5rem;

    .calendar-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 500;

        img {
          width: 40px;
        }
      }
    }

    .my-hour {
      text-align: center;
      margin-bottom: 1rem;

      .horaireOuvert {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin: 0.5rem 0;
        font-size: var(--h4);

        input {
          padding: 0.25rem 0;
          border-radius: 10px;
        }
      }
    }

    .heureActuel {
      p {
        font-weight: 400;
      }

      span {
        font-size: var(--h4);
        font-weight: 500;
      }

      .heure {
        margin: 1rem 0;
      }
    }

    button {
      border: 2px red solid;
      border-radius: 15px;
      padding: 7px;
      color: red;
      font-size: var(--h4);
      font-weight: 500;
    }
  }

  // occasionnel
  .calendar-occas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & > p {
      margin-top: 2rem;
      margin-bottom: -1rem; // important

      span {
        font-size: var(--h4);
        font-weight: 600;
      }
    }

    .react-calendar {
      .disable-day {
        background-color: var(--grey2);

        abbr {
          opacity: 0.6;
          color: var(--fourth);
          text-decoration: line-through;
        }
      }

      &__navigation {
        display: flex;
        justify-content: space-evenly;

        &__arrow {
          background: none;
          color: var(--third);
          font-size: var(--h2);
        }

        &__prev2-button {
          display: none;
        }

        &__label {
          flex-grow: 0 !important;
          background: var(--third);
          padding: 5px 10px;
          border-radius: 5px;

          span {
            color: var(--background);
            font-weight: 500;
            text-transform: capitalize;
          }
        }

        &__next2-button {
          display: none;
        }
      }

      &__month-view {
        margin-top: 20px;

        &__weekdays {
          padding-bottom: 10px;
          border-bottom: 1px solid var(--grey2);

          &__weekday {
            display: flex;
            align-items: center;
            justify-content: center;

            abbr {
              text-transform: capitalize;
            }
          }
        }

        &__days {
          &__day {
            border-bottom: 1px dashed var(--front);
            width: 50px;
            height: 50px;
            padding: 10px;
            background: none;
          }
        }
      }

      &__year-view {
        margin-top: 20px;
        &__months {
          &__month {
            border-bottom: 1px dashed var(--front);
            width: 50px;
            height: 50px;
            padding: 10px;
            background: none;

            abbr {
              text-transform: capitalize;
            }
          }
        }
      }

      // jour du jour
      &__tile--now {
        background-color: var(--third);
        color: var(--background);
        font-weight: 500;
        border-bottom: 1px solid transparent;
      }

      // jour choisi
      &__tile--active {
        background-color: var(--fourth);
      }
    }
  }
}
