.app-calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recu-occas {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem 0;

    button {
      padding: 10px 15px;
      background: transparent;
      color: $third;
      border: 1px solid $third;
      border-radius: 5px;
      font-weight: 500;
    }

    .selected {
      background: $third;
      color: $white;
    }
  }

  // recurrent
  .calendar-recur {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .container-days {
      width: 100%;
      display: flex;
      justify-content: space-between;

      li {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        color: transparent;

        input {
          display: none;
          width: 100%;
          height: 100%;

          &:checked + label {
            background-color: $third;
            color: $white;
          }
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          border: 1px solid $third;
          color: $third;

          p {
            font-size: $h3;
            color: $second;
            font-weight: 600;
          }
        }
      }
    }
  }

  // le bas
  .choose-hour {
    margin-top: 3rem;

    .horaireOuvert {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin: 0.5rem 0;
    }

    .calendar-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 500;

        img {
          width: 40px;
        }
      }
    }
  }

  // occasionnel
  .calendar-occas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    p {
      margin-top: 2rem;

      span {
        font-size: $h4;
        font-weight: 600;
      }
    }

    .react-calendar {
      &__navigation {
        display: flex;
        justify-content: space-evenly;

        &__arrow {
          background: none;
          color: $third;
          font-size: $h2;
        }

        &__prev2-button {
          display: none;
        }

        &__label {
          flex-grow: 0 !important;
          background: $third;
          padding: 5px 10px;
          border-radius: 5px;

          span {
            color: $white;
            font-weight: 500;
            text-transform: capitalize;
          }
        }

        &__next2-button {
          display: none;
        }
      }

      &__month-view {
        margin-top: 20px;
        &__weekdays {
          padding-bottom: 10px;
          border-bottom: 1px solid $grey;

          &__weekday {
            display: flex;
            align-items: center;
            justify-content: center;

            abbr {
              text-transform: capitalize;
            }
          }
        }

        &__days {
          &__day {
            border-bottom: 1px dashed $second;
            width: 50px;
            height: 50px;
            padding: 10px;
            background: none;
          }
        }
      }

      &__year-view {
        margin-top: 20px;
        &__months {
          &__month {
            border-bottom: 1px dashed $second;
            width: 50px;
            height: 50px;
            padding: 10px;
            background: none;

            abbr {
              text-transform: capitalize;
            }
          }
        }
      }

      // jour du jour
      &__tile--now {
        background-color: $third;
        color: $white;
        font-weight: 500;
        border-bottom: 1px solid transparent;
      }

      // jour choisi
      &__tile--active {
        background-color: $fourth;
      }
    }
  }
}
