.pop-up-creche {
  flex-grow: 1;

  button {
    background-color: var(--third);
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;
    font-size: var(--h3);
    width: 100%;
    min-height: 50px;
    max-height: 70px;
    padding: 0 1rem;
  }

  &.visible::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .pop {
    position: absolute;
    top: 50%;
    left: 0rem;
    right: 0rem;
    transform: translateY(-50%);
    margin: auto;

    z-index: 2;
    width: calc(100% - 1rem);
    max-height: 700px;
    padding: 1rem 2rem;
    background-color: var(--white);
    color: var(--second);
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    .retour {
      background: transparent;
      color: var(--second);
      font-size: 1rem;
      border: 1px solid var(--second);
      width: max-content;
      height: 50px;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    ul {
      list-style: outside;
    }

    div {
      h3 {
        margin: 2rem 0 1rem -0.5rem;
      }
    }

    a {
      width: 100%;

      .compris {
        background: var(--gradient);
        flex-shrink: 0;
        height: 50px;
      }
    }

    .cran {
      background-color: rgba(127, 114, 241, 0.4);
      width: 100%;
      height: 90px;
      padding: 0.5rem;
      margin: 3rem 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      h4 {
        font-size: var(--h4);
        font-weight: 600;
        margin-bottom: 1rem;
      }

      img {
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }
  }
}
