.dashPlaces {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 15px;

  & .agendaSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(75, 93, 104, 0.1);

    & h2 {
      font-size: $h2;
      font-weight: 700;
      margin-left: 20px;

      &::first-letter {
        font-weight: 700;
        color: $third;
      }
    }

    & .dashPlacesRange {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      height: 410px;
      padding: 0 30px;

      & .dashPlacesDays {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        justify-items: center;

        & li {
          width: 35px;
          height: 35px;
          position: relative;
          border: 1px solid $third;
          border-radius: 5px;
          color: $third;

          & input {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            z-index: 99;
            cursor: pointer;
          }

          & .selected {
            background-color: $third;
            color: $white;
          }

          & label {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            text-transform: capitalize;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }

      & .dashRangeInput {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        & input {
          padding: 5px 15px;
          border: 1px solid $third;
          border-radius: 5px;
          font-size: $h3;
          outline: none;

          &::-webkit-inner-spin-button {
            display: none;
          }
        }

        & span {
          font-size: $h3;
          font-weight: 500;
          color: $third;
        }
      }

      & .dashRangeValues {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & p {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: 500;

          & img {
            width: 40px;
          }
        }
      }

      & .dashPlacesSubmit {
        position: absolute;
        right: 15%;
        bottom: 20px;
        padding: 10px 20px;
        background: $third;
        color: $white;
        border: 1px solid transparent;
        border-radius: 5px;
        font-size: $h4;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          background: transparent;
          border: 1px solid $third;
          color: $third;
        }
      }

      & .dashNotWorking {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: $third;
        color: $white;
        border: 1px solid transparent;
        font-weight: 500;
        font-size: $h4;
        padding: 10px 20px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;

        &:hover {
          background: transparent;
          color: $third;
          border: 1px solid $third;
        }
      }

      & .dashPlacesSelect {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $h1;
        color: $third;
        font-weight: 500;
      }
    }
  }

  & .dashPlacesParams {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & details {
      & summary {
        margin-bottom: 10px;
        font-size: $h3;
        font-weight: 500;
        cursor: pointer;

        &::selection {
          background: none;
        }

        &::marker {
          color: $third;
        }
      }

      & .dashPlacesPrices {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px 10px;
        border-radius: 5px;
        background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
        box-shadow: -5px 5px 5px rgba(75, 93, 104, 0.1);

        & div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & p {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            & span {
              font-weight: 500;
            }
          }
        }
      }

      & .dashPlacesOptions {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px 10px;
        border-radius: 5px;
        background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
        box-shadow: -5px 5px 5px rgba(75, 93, 104, 0.1);

        & .dashSwitchContainer {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;
          align-items: center;
          gap: 5px;
          margin-left: 10px;

          & .dashSwitch {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 24px;

            & input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            & input:checked+.dashSwitchSlider {
              background-color: $third;
            }

            & input:checked+.dashSwitchSlider:before {
              -webkit-transform: translateX(52px);
              -ms-transform: translateX(52px);
              transform: translateX(52px);
            }

            & .dashSwitchSlider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              border-radius: 34px;
              transition: 0.3s ease-in-out;

              &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 2px;
                background-color: white;
                border-radius: 50%;
                transition: 0.3s ease-in-out;
              }
            }
          }
        }
      }

      & .dashPlacesCheckboxes {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 180px;
        padding: 20px 10px;
        border-radius: 5px;
        background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
        box-shadow: -5px 5px 5px rgba(75, 93, 104, 0.1);
        overflow-y: auto;

        & li {
          display: flex;
          align-items: flex-end;

          & input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid $grey;
            border-radius: 5px;
            transform: translateY(0.2em);
            cursor: pointer;
          }

          & input:checked {
            background-color: $white;
            position: relative;

            &:before {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              content: "\2713";
              border-radius: 5px;
              color: $white;
              background-color: $third;
              font-weight: 700;
            }
          }

          & label {
            display: block;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.dashOptionsPrices {
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 20px;
  transition: 0.3s ease-in-out;

  & input {
    width: 50px;
    outline: none;
    border: 1px solid $third;
    border-radius: 5px;
    text-align: end;
  }
}
