.AppliUserCompletion {
  padding-bottom: 4rem;
  min-height: 100vh;
  background-color: $white;

  .container-header {
    background: $gradient;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      max-width: 500px;
      text-align: center;
      padding: 2rem 0;
      color: $white;
      width: 100%;

      .button-head {
        font-size: $h3;
        font-weight: 600;
        background-color: transparent;
      }

      .container-butt {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;

        button {
          width: 100px;
          height: 100px;
          border-radius: 20px;
          font-weight: 500;

          &:nth-child(1) {
            background-color: $blue;
          }
          &:nth-child(2) {
            background-color: $green;
          }
          &:nth-child(3) {
            background-color: $orange;
          }
        }
      }
    }
  }

  .container-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
      margin: 1rem 0;
      max-width: 500px;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: $h3;
        font-weight: 600;
        color: $gradient;
      }

      // enfant
      .kid {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 2rem;
        gap: 1rem;

        .action-kid {
          font-size: $h4;
          font-weight: 500;

          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;

          button {
            background-color: $blue;
            border-radius: 10px;
            padding: 7px;
          }

          .create-kid {
            color: $green;
          }
          .delete-kid {
            color: red;
          }
        }

        .all-kid {
          margin-bottom: 1rem;

          .carousel-root {
            width: 100%;
            ul.slider {
              li.slide {
                // ne pas mettre margin ici
                .prenom-container {
                  padding: 0.25rem; // important pour avoir des espaces et que le caroussel fonctionne
                  button {
                    height: 60px;
                    width: 100%;
                    word-wrap: break-word;
                  }
                }
              }
            }
          }

          button {
            background-color: $third;
            border-radius: 10px;
            padding: 7px;
          }
        }
      }

      .button-bas {
        background: $gradient;
      }

      // inscription
      &.inscription form {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1.5rem;

        p {
          width: 100%;
          font-size: $h4;
          font-weight: 600;
        }

        .with-init {
          display: flex;
          justify-content: space-evenly;

          button {
            color: $white;
            font-weight: 500;
            background-color: red;
            padding: 0.5rem;
            border-radius: 10px;
          }

          a {
            color: $white;
            font-weight: 500;
            background-color: $green;
            padding: 0.5rem;
            border-radius: 10px;
          }
        }

        label {
          input {
            width: 100%; // important
          }
        }
      }
    }
  }
}
