.applimenu {
  min-height: 100vh;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-weight: 500;

    width: 100%;
    max-width: 500px;

    &.menu-base {
      align-items: flex-start;
      gap: 1.5rem;
      padding: 0 1rem;

      button {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $h4;
        font-weight: 500;

        .icon-menu {
          fill: $third;
          margin-right: 0.5rem;
        }
      }
    }

    &.favoris {
      .occas {
        background: $third;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        p {
          font-weight: 400;
        }

        .with-toggle {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &.perso-confiance {
      .card-fav-plat {
        .texte {
          width: 70%;
        }
      }
    }

    &.moyens-paiements {
      img {
        width: 90%;
      }

      form {
        width: 90%;
        margin: 1rem;

        label {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          input {
            background-color: $grey;
            width: 85%;
            height: 40px;
            border-radius: 10px;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 2px transparent solid;

            &:valid {
              border-color: $green;
            }
          }

          p {
            display: none;
          }

          input:valid + p {
            display: block;
            transform: translateY(-10px);
          }

          input:valid + p {
            font-size: 1.5rem;
            color: $green;
            display: block;
          }
        }

        .check {
          display: flex;
          justify-content: center;
          align-items: center;

          .p-check {
            color: black;
            font-size: 1rem;
          }
          input {
            width: 1.2rem;
          }
        }
      }
    }
  }
}
