.appli-notif {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $white;

  .notif-container-grad {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $gradient;
    width: 100%;
    height: 100%;

    .button-top {
      color: $white;
    }
  }

  .logo {
    max-width: 130px;
  }

  h3 {
    font-size: $h3;
    font-weight: 600;
    margin: 1rem;
  }

  h4 {
    font-size: $h4;
    font-weight: 500;
  }

  .avatars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    .avatar {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .notif-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      max-width: 500px;
      padding: 1rem;

      a {
        width: 100%;
      }

      button {
        background-color: transparent;
      }

      .card-notif {
        width: 100%;
        height: 80px;
        padding: 1rem;
        border-left: 1px $second solid;
        text-align: left;

        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 49px;

          padding-right: 1rem;

          span {
            &.accepted {
              color: green;
              font-size: $h4;
              font-weight: 500;
            }
            &.rejected {
              color: red;
              font-size: $h4;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .notif-note,
  .notif-rejet,
  .notif-accepte {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
    padding: 1rem;

    text-align: center;
  }

  .notif-note {
    form {
      flex-grow: 1;

      div {
        margin-bottom: 1rem;
        font-size: $h4;
        font-size: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .rating {
          color: gold;
          font-size: 2rem;
        }
      }
    }

    .button-bas {
      background-color: $third;
      color: $second;
      width: 90%;
    }
  }

  .notif-rejet,
  .notif-accepte {
    .text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .green {
        color: $green;
        font-size: $h1;
      }

      .red {
        color: red;
        font-size: $h1;
      }
    }

    .button-bas {
      background-color: $white;
      color: $second;
    }
  }

  .notif-paye {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 500px;
    padding: 1rem;

    .moyens-paiements {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      img {
        width: 90%;
      }

      form {
        margin-top: 1rem;

        .with-check {
          width: 90%;
        }
      }
    }

    .button-bas {
      background: $gradient;

      .butt {
        font-size: $h3;
        font-weight: 500;
      }
    }
  }
}
