.applimenu {
  button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $h4;
    font-weight: 500;

    .icon-menu {
      fill: $third;
      margin-right: 0.5rem;
    }
  }

  .butt-top {
    font-size: $h3;
    font-weight: 600;
    background-color: transparent;
    margin: 2rem 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    font-weight: 500;
    margin: 0 1rem;

    .occas {
      background: $third;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 1rem;
      p {
        font-weight: 400;
      }

      .with-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .card-fav-plat {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
      width: 100%;

      p {
        font-weight: 400;
      }

      h4 {
        font-size: $h4;
      }

      img {
        width: 70px;
        border-radius: 10px;
      }

      .texte {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-overflow: ellipsis;
        width: 60%;

        p {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 0.5rem;
          height: 20px;
        }
      }

      .note {
        display: flex;
        justify-content: center;
        background-color: $third;
        border-radius: 10px;
        width: 45px;
        padding: 0.25rem 0;
      }
    }
  }
}
