.appli-reservation {
  background: $gradient;
  min-height: 100vh;
  text-align: center;
  padding: 0 1rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    .title {
      font-size: $h1;
      font-weight: 700;
      margin: 2rem;
    }

    .sub-title {
      font-size: $h4;

      span {
        font-weight: 500;
        font-size: $h2;
      }
    }

    &.choix-dates {
      background-color: $white;
      padding: 1rem;
    }

    &.demande-resa {
      overflow: hidden;
      background-color: $white;
      border-radius: 20px;
      margin-bottom: 1.5rem;
      position: relative;
      text-align: left;

      .container-img {
        position: relative;
        width: 100%;

        img {
          height: 145px;
          width: 100%;
          object-fit: cover;
        }
      }

      .principale {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1rem;
        flex-grow: 1;

        h3 {
          font-size: $h3;
          font-weight: 600;
        }
      }

      .tog {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .prix-resa {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
        margin-bottom: 1rem;

        .prix {
          display: flex;
          flex-direction: column;
          font-weight: 600;

          span {
            font-size: $h3;
          }
        }
        button {
          background: $gradient;
          font-size: $h3;
          font-weight: 500;
          height: 50px;
          color: $white;
          border-radius: 10px;
          height: 50px;
          flex-grow: 1;
          margin-left: 0.5rem;
        }
      }
    }

    &.confirme-resa {
      color: $white;

      .mini-logo {
        max-height: 50px;
        margin: 1rem 0;
      }

      .avatars {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        .avatar {
          width: 130px;
          height: 130px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .status-demande {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        background-color: $orange;
        margin: 2rem 0;

        span {
          font-weight: 500;
          font-size: 1.5rem;
        }
      }
    }
  }
  footer {
    max-width: 500px;
  }
}
