@import "./chatForApp.scss";

.messagesForApp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  padding-left: 20px;

  .messagesShortsAffichForApp {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    border-right: solid 2px $third;
    border-radius: 5px;

    .messages-affichageForApp {
      height: 100%;
      overflow-y: scroll;

      .salonsMessagesForApp {
        .contactListForApp {
          list-style: none;
          padding: 20px;
          border-bottom: 1px solid $third;

          &:first-of-type {
            border-top: 1px solid $third;
          }
        }

        & .selected {
          background-color: $third;
          color: $white;

          & #btn-affiche-conForApp {
            &:hover {
              color: $white;
            }
          }
        }

        #btn-affiche-conForApp {
          gap: 5px;
          height: 60px;
          width: 95%;
          display: flex;
          padding: 5px;
          align-items: center;
          font-weight: 700;
          background: transparent;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &::first-letter {
            text-transform: uppercase;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          &:hover {
            color: $third;
          }
        }
      }
    }
  }

  .conversationAffichForApp {
    margin: 20px;
    width: 75%;
    height: 100%;
  }
}
