.chat-window {
  width: 100%;
  height: 100%;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #7e72f2;
  position: relative;
  cursor: pointer;
}

.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: 80%;
  border: 1px solid #7e72f2;
  background: #fff;

  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: fit-content;
  height: fit-content;
  background-color: #f063a7;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;

  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: #7e72f2;
}

#other .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

.message-meta #author {
  margin-right: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #7e72f2;
  border-top: none;
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #7e72f2;
  border-bottom-left-radius: 5px;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #f063a7;
}

.hide {
  opacity: 0 !important;
}
