.messages {

    width: auto;
    height: auto;
    display: flex;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 5px;


    .userPart {
      display: flex;
      align-items: center;


    .messagesShortsAffich {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-right: solid 2px $fourth;


        img {
          width: 75px;
          height: 75px;
        }

        .userPart {
            border-bottom: solid 10px rgba(230, 225, 225, 0.25);
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            height: fit-content;


            #profilImg {
                width: 60px;
                height: 60px;
            }

            .profilText {
                line-height: 1.25em;


                span {
                    font-weight: 700;
                    font-size: 1em;
                }

                #email {
                    font-style: italic;
                    color: $third;
                    font-size: 0.80em;
                    font-weight: 500;
                }
            }

        }
      }
    }


    .conversationAffich {
        padding: 20px;
    }

}

