@import "./chat.scss";

.messages {
  width: auto;
  height: 95%;
  display: flex;
  margin: 20px;
  border-radius: 5px;

  .messagesShortsAffich {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    border-right: solid 2px $third;
    border-radius: 5px;

    h2 {
      padding: 20px 30px 20px 10px;
      font-weight: 900;
      font-size: 2em;
    }

    .userPart {
      display: flex;
      align-items: center;
      gap: 5px;
      height: fit-content;
      width: 100%;
      padding-left: 10px;

      #profilImg {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .profilText {
        line-height: 1.25em;

        span {
          font-weight: 700;
          font-size: 1em;
        }

        #email {
          font-style: italic;
          color: $fourth;
          font-size: 0.8em;
          font-weight: 500;
        }
      }
    }

    .messages-affichage {
      height: 100%;
      overflow-y: scroll;

      .salonsMessages {
        .contactList {
          list-style: none;
          padding: 20px;
          border-bottom: 1px solid $third;

          &:first-of-type {
            border-top: 1px solid $third;
          }

          // &:last-of-type {
          //   border-bottom: none;
          // }
        }

        & .selected {
          background-color: $third;
          color: $white;

          & #btn-affiche-con {
            &:hover {
              color: $white;
            }
          }
        }

        #btn-affiche-con {
          gap: 5px;
          height: 60px;
          width: 95%;
          display: flex;
          padding: 5px;
          align-items: center;
          font-weight: 700;
          background: transparent;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &::first-letter {
            text-transform: uppercase;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          &:hover {
            color: $third;
          }
        }
      }
    }
  }
}

.conversationAffich {
  margin: 20px;
  width: 100%;
  height: 100%;
}
