@import "./chat.scss";

.messages {
  width: auto;
  height: 95%;

  display: flex;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 5px;

  .messagesShortsAffich {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-right: solid 2px $third;

    h2 {
      margin: 30px;
      font-weight: 900;
      font-size: 2em;
    }

    .userPart {
      border-bottom: solid 10px rgba(230, 225, 225, 0.25);
      display: flex;
      align-items: center;
      padding: 20px;

      height: fit-content;
      width: 100%;

      #profilImg {
        width: 60px;
        height: 60px;
      }

      .profilText {
        line-height: 1.25em;

        span {
          font-weight: 700;
          font-size: 1em;
        }

        #email {
          font-style: italic;
          color: $fourth;
          font-size: 0.8em;
          font-weight: 500;
        }
      }
    }

    .messages-affichage {
      width: 90%;
      height: 90%;

      .salonsMessages {
        .contactList {
          list-style: none;
          margin: 20px;
        }

        #btn-affiche-con {
          gap: 5px;
          height: 60px;
          width: 95%;
          display: flex;
          padding: 5px;
          align-items: center;
          border-radius: 6px;
          font-weight: 600;
          background: #ffffff;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          img {
            width: 50px;
            height: 50px;
            border-radius: 25%;
          }
        }

        #btn-affiche-con:hover {
          background: $third;
          transform: scale(1.05);
        }
      }
    }
  }
}

.conversationAffich {
  margin: 20px 30px;
  width: 100%;
}
