.dashReservations {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: auto;

  & .dashReserFilters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    & h2 {
      font-size: $h3;
      font-weight: 700;
    }

    & .reserBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      & button {
        padding: 5px 10px;
        font-size: $small;
        font-weight: 500;
        border-radius: 5px;
        background: none;

        &:nth-of-type(1) {
          color: $third;
          border: 1px solid $third;
        }

        &:nth-of-type(2) {
          color: $fifth;
          border: 1px solid $fifth;
        }

        &:nth-of-type(3) {
          color: $sixth;
          border: 1px solid $sixth;
        }

        &:nth-of-type(4) {
          color: $seventh;
          border: 1px solid $seventh;
        }

        &:nth-of-type(5) {
          color: $first;
          border: 1px solid $first;
        }
      }

      & .selected:nth-of-type(1) {
        background: $third;
        color: $white !important;
      }

      & .selected:nth-of-type(2) {
        background: $fifth;
        color: $white !important;
      }

      & .selected:nth-of-type(3) {
        background: $sixth;
        color: $white !important;
      }

      & .selected:nth-of-type(4) {
        background: $seventh;
        color: $white !important;
      }

      & .selected:nth-of-type(5) {
        background: $first;
        color: $white !important;
      }
    }
  }

  & .reserList {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & li {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      width: 95%;
      margin: 0 auto;
      padding: 10px 25px 10px 50px;
      background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
      border-radius: 5px;
      box-shadow: -5px 5px 5px rgba(75, 93, 104, 0.1);

      & .reserStatusColor {
        position: absolute;
        width: 25px;
        height: 100%;
        top: 0;
        left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      & .reserInfo1 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & p:first-of-type {
          text-transform: capitalize;
          font-weight: 500;
        }
      }

      & .reserInfo2 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & p {
          & span {
            font-weight: 500;
          }
        }
      }

      & .reserInfo3 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & p:last-of-type {
          font-weight: 500;
        }
      }

      & .reserChoice,
      & .reserModif {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }

      & .reserChoice {
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3px;
          padding: 5px 20px;
          border-radius: 5px;
          background: none;
        }

        & button:first-of-type {
          background-color: $fifth;
          color: $white;
          font-weight: 500;
        }

        & button:last-of-type {
          background-color: $seventh;
          color: $white;
        }
      }

      & .reserModif {
        & button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3px;
          background: none;
          color: $third;
          font-weight: 500;
        }
      }
    }
  }
}

.dateChoiceContainer {
  position: relative;
  width: 100%;
  height: 100%;

  & .dateChoiceInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: $white;
    gap: 10px;

    & h2 {
      font-size: $h2;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
      color: $third;
    }

    & .dateInputContainer {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & input {
        padding: 5px;
        border: 1px solid $third;
        border-radius: 5px;
        outline: none;
      }
    }

    & button {
      padding: 5px 15px;
      margin-top: 20px;
      font-size: $h4;
      font-weight: 500;
      color: $white;
      background: $third;
      border: 1px solid transparent;
      border-radius: 5px;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $third;
        background: transparent;
        border: 1px solid $third;
      }
    }
  }
}
