.container-navbar-app {
  background: linear-gradient(var(--grey2), var(--background));
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 0.5px var(--grey1) solid;
  height: 60px;

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  z-index: 10;

  .navbar {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img-nav {
      width: 40px;
      height: 40px;
      padding: 7px;
    }

    .active {
      color: var(--background);
      background: var(--gradient);
      border-radius: 10px;
      box-shadow: 0 0 5px var(--front);
    }
  }
}
