.navbar {
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: $grey;
  border-top: 1px black solid;

  position: fixed;
  bottom: 0;

  .active {
    color: $white;
    background: $gradient;
    border-radius: 10px;
  }

  .img-nav {
    width: 40px;
    height: 40px;
    padding: 7px;
  }
}
