.navbar {
  background: linear-gradient($grey, $white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: 0.5px $second solid;

  position: fixed;
  bottom: 0;
  z-index: 10;

  .img-nav {
    width: 40px;
    height: 40px;
    padding: 7px;
  }

  .active {
    color: $white;
    background: $gradient;
    border-radius: 10px;
    box-shadow: 0 0 5px $second;
  }
}
