.structure1 {
  & .inputsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;

    & input[type="text"],
    & input[type="tel"] {
      border-radius: 10px;
      padding: 20px 4px 4px;
      margin: 0 4px;
      border: 1px solid $grey;
      height: 50px;
      position: relative;
      width: 32vw;
    }

    & input:focus {
      outline: 1.5px solid $third;
    }

    & input:valid {
      border: 2px solid $green;
    }

    & input:valid + label {
      color: $green;
    }

    .checkSymbol {
      display: none;
    }

    & input:valid + label + .checkSymbol {
      position: absolute;
      transform: translateX(29vw) translateY(6px);
      font-size: 2rem;
      color: $green;
      display: initial;
    }

    & label {
      position: absolute;
      z-index: 2;
      transform: translateY(6px) translateX(10px);
      font-weight: 800;
      color: $grey;
    }

    & p {
      padding-top: 4px;
      margin-left: 8px;
      font-size: 0.9rem;
    }
  }

  .typeContainer,
  .typeCrecheContainer {
    display: flex;
    flex-wrap: wrap;

    & button {
      background-color: #f2f2f2;
      width: fit-content;
      min-width: 140px;
      height: 40px;
      font-size: $h4;
      border-radius: 50px;
      margin: 4px;
      padding: 8px;
      border: 1px solid $grey;
    }

    & .selected {
      background-color: $third;
      color: white;
    }
  }

  .typeContainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1000px) {
  .structure1 {
    & .inputsContainer {
      & input[type="text"],
      & input[type="tel"] {
        width: 80vw;
        max-width: 500px;
      }

      & input:valid + label + .checkSymbol {
        transform: translateX(clamp(10px, 69vw, 450px)) translateY(6px);
      }
    }

    & .typeCrecheContainer,
    & .typeContainer {
      justify-content: center;
    }
  }
}
