.structure13 {
  & h5 {
    margin: 3vh 0 2vh;
  }

  & .inputContainer {
    & input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 1.1em;
      height: 1.1em;
      border: 1px solid $grey;
      border-radius: 30%;
      transform: translateY(0.2em);
      cursor: pointer;
      margin-right: 4px;
    }

    & input[type="checkbox"]:checked {
      background-color: #fff;
      position: relative;

      &:before {
        content: "\2713";
        padding: 0 2px;
        display: block;
        color: $third;
        font-size: initial;
        font-weight: 800;
        position: absolute;
      }
    }

    & .innerContainer {
      margin: 1vh 0;
    }
  }

  & .purpleText {
    color: $third;
    font-weight: 500;
  }

  & .inputPriceContainer {
    display: flex;
    align-items: center;
    max-width: 400px;
    justify-content: space-between;
    margin: 1vh 0;

    & input[type="number"] {
      border: 1px solid $third;
      border-radius: 10px;
      padding: 4px 1px 4px 4px;
      margin: 0 8px;
      width: 55px;
    }

    & input[type="number"]:focus {
      outline: 1.5px solid $third;
    }

    & label {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  & .with-toggle {
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1vh 0;
    gap: 4px;
    flex-wrap: wrap;

    & .innerToggle {
      display: flex;
      width: 100%;
      gap: 0;
      min-height: 50px;
      justify-content: space-between;
      align-items: center;
    }

    & .right-part {
      min-width: 160px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
