.structure3 {
  margin-bottom: 2vh;
  padding: 0 8px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;

  & .pageContent {
    display: block;
  }

  & .imgContainer {
    min-width: 120px;
    min-height: 67.5px;
    height: 13.5vh;
    width: 20vh;
    border-radius: 0;
    object-fit: cover;
    overflow: hidden;
  }

  & img {
    width: 100%;
  }

  & .inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    width: 50%;
  }

  & input {
    color: #fff;
    overflow: hidden;
  }

  & input::file-selector-button {
    border: 2px solid $third;
    border-radius: 10px;
    height: 40px;
    background-color: white;
    color: $third;
    font-weight: 600;
    width: fit-content;
  }

  & .photoAndDescContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 1000px) {
  .structure3 {
    width: 100%;

    & .inputContainer {
      width: 50%;
      // margin-top: 1vh;
    }

    & .photoAndDescContainer {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      margin-top: 2vh;
    }
  }
}
