.structure2 {
  padding: 0 8px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;

  & .pageContent {
    display: flex;
  }

  & .imgContainer {
    min-width: 150px;
    min-height: 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  & img {
    width: 100%;
  }

  & .inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    width: 50%;
  }

  & input {
    color: #fff;
    overflow: hidden;
  }

  & input::file-selector-button {
    border: 2px solid $third;
    border-radius: 10px;
    height: 40px;
    background-color: white;
    color: $third;
    font-weight: 600;
    width: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  .structure2 {
    margin: 0 auto;

    & .pageContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1vh;
      margin: 2vh 0;

      & .photoAndDescContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
      }

      & .inputContainer {
        flex-direction: column;
        justify-content: center;
      }

      & input {
        width: 100%;
      }
    }
  }
}
