.pageChoixResa {
  width: clamp(800px, 90vw, 1300px);
  height: 85vh;
  padding: 2vh 3vh;
  margin: 0 auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & h4 {
    text-align: center;
  }

  & h5 {
    font-weight: 600;
    margin: 1vh 0;
  }

  & .etapesChoixResa {
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;

    & p {
      font-size: 1rem;
    }

    & h5 {
      font-size: 1.1rem;
    }

    & .etapes {
      display: flex;
      align-items: flex-start;
      gap: 2vw;
      min-height: 15vh;
    }

    & .etape1Container {
      min-height: 15vh;
      height: fit-content;
      margin-top: 17vh;
      padding: 8px;
      background-color: #fff;
      flex: 1;

      & .etape1 {
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        transform: translateY(-10vh);
      }

      & img {
        width: 25vh;
      }
    }

    & .choixResaContainer {
      flex: 4;
      padding-top: 20vh;
    }

    & .choixResa {
      background-color: #fff;
      margin-bottom: 1vw;
      min-height: 20vh;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px 16px;
      position: relative;
      width: 100%;
      border-radius: 0;
      border: none;
      color: $second;

      & img {
        position: absolute;
        width: 25vh;
        top: -17vh;
        margin-left: 12vh;
      }

      & .etape2,
      & .etape3 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      & .lienChoixResa {
        color: $third;
        width: fit-content;
        background-color: #fff;
        border: none;
        font-size: 1.1rem;
        font-weight: 500;
        align-self: flex-end;
      }
    }

    & .choixResa:hover {
      box-shadow: 2px 2px 6px $third, -2px -2px 6px $third;
      cursor: pointer;
    }

    & .chosen {
      box-shadow: 2px 2px 6px $third, -2px -2px 6px $third;
    }

    & .etapeContainer {
      display: flex;
      gap: 2vw;
      margin-bottom: 6vh;
      background-color: #fff;
      margin-top: 6vh;
      flex: 1;
      max-width: 22%;

      & .etape1,
      & .etape2,
      & .etape3,
      & .etape4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vw;
        height: 50vh;

        & img {
          width: 10vw;
          height: 7.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .pageChoixResa {
    width: 90vw;
    height: fit-content;
    padding: 2vh 3vh;
    margin: 0 auto;

    & .etapesChoixResa {
      flex-direction: column;
      gap: 4vw;
      margin-bottom: 4vw;
      align-items: center;
      justify-content: center;

      & .etapes {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
        gap: 2vw;
        min-height: 15vh;
      }

      & .etape1Container {
        min-height: 10vh;
        height: fit-content;
        margin-top: 12vh;
        padding: 8px;
        background-color: #fff;
        flex: 1;

        & .etape1 {
          height: fit-content;
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          transform: translateY(-10vh);
        }

        & img {
          width: 25vh;
        }
      }

      & .choixResaContainer {
        flex: 4;
        padding-top: 0;
      }

      & .choixResa {
        margin-bottom: 4vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px 16px;
        position: relative;
        width: 100%;
        border-radius: 0;
        border: none;
        color: $second;

        & img {
          display: none;
        }

        & .etape2,
        & .etape3 {
          width: 80%;
        }

        & .lienChoixResa {
          order: -1;
          font-size: 1.2rem;
          margin: 2vh;
        }
      }

      & .etapeContainer {
        display: flex;
        gap: 2vw;
        margin-bottom: 1vh;
        margin-top: 1vh;
        flex: 1;
        max-width: 90%;

        & .etape1,
        & .etape2,
        & .etape3,
        & .etape4 {
          padding: 4vw;
          height: fit-content;

          & img {
            width: 30vw;
            height: 15vw;
          }
        }
      }
    }
  }
}
