.structure15 {
  & h4 {
    margin-bottom: 0.5vh;
  }

  & h5 {
    margin-top: 2vh;
    margin-bottom: 0.5vh;
  }

  & .inputsContainer {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  & .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;

    & input[type="text"],
    & input[type="date"] {
      border-radius: 10px;
      padding: 20px 4px 4px;
      margin: 0 4px;
      height: 50px;
      position: relative;
      width: 215px;
    }

    & input:focus {
      outline: 1.5px solid $third;
    }

    & .input {
      border: 1px solid $grey;
    }

    & .inputChecked {
      border: 2px solid $green;
    }

    & .labelChecked {
      color: $green;
    }

    .checkSymbol {
      position: absolute;
      transform: translateX(180px) translateY(6px);
      font-size: 2rem;
      color: $green;
      display: initial;
    }

    & label {
      position: absolute;
      z-index: 2;
      transform: translateY(6px) translateX(10px);
      font-weight: 600;
      color: $grey;
    }

    & p {
      padding-top: 4px;
      margin-left: 8px;
      font-size: 0.9rem;
    }
  }

  & .docInputContainer {
    position: relative;
    max-width: 600px;
    margin-top: 2vh;

    .checkSymbol {
      display: none;
    }

    & input[type="file"] {
      max-width: 300px;
    }

    & input::file-selector-button {
      border: 2px solid $third;
      border-radius: 10px;
      height: 40px;
      background-color: white;
      color: $third;
      font-weight: 600;
      width: fit-content;
      margin-top: 1vh;
      margin-bottom: 0.5vh;
    }

    & input[type="file"]:valid {
      & .checkSymbol {
        position: absolute;
        right: 0;
        top: 8px;
        font-size: 2rem;
        color: $green;
        display: initial;
      }
    }

    & h5 {
      font-weight: 500;
      max-width: 95%;

      & span {
        font-weight: 800;
        color: $fourth;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .structure15 {
    & .inputContainer {
      & input[type="text"],
      & input[type="date"] {
        width: 80vw;
        max-width: 500px;
      }

      & input:valid + label + p {
        transform: translateX(69vw) translateY(6px);
      }
    }
  }
}
