.structure9 {
  & .with-toggle {
    width: 100%;
    min-height: 5vh;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    margin: 1vh;
    flex-wrap: wrap;

    & .innerToggle {
      display: flex;
      width: 45%;
      max-width: 200px;
      justify-content: space-between;
      align-items: center;
    }
  }

  & .memeHoraire {
    width: 100%;
    margin: 1vh;

    & input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 1.1em;
      height: 1.1em;
      border: 1px solid $grey;
      border-radius: 30%;
      transform: translateY(0.2em);
      cursor: pointer;
      margin: 0 4px;
    }

    & label {
      margin: 4px;
    }

    & input:checked {
      background-color: #fff;
      position: relative;

      &:before {
        content: "\2713";
        padding: 0 2px;
        display: block;
        color: $third;
        font-size: initial;
        font-weight: 800;
        position: absolute;
      }
    }

    & .horaireOuvert {
      margin: 2vh 0;
    }
  }

  & .horaireOuvert {
    width: 55%;
    display: flex;
    gap: 1vw;
    align-items: center;
    text-align: center;

    & input {
      border-radius: 10px;
      border: 1px solid $third;
      height: 30px;
      padding-left: 6px;
      min-width: 100px;
    }

    & input:focus {
      outline: 1.5px solid $third;
    }
  }
}

@media screen and (max-width: 1000px) {
  .structure9 {
    & .memeHoraire {
      width: fit-content;
      margin: auto;
    }

    & .toggleWrapper {
      width: 100%;
      margin: 1vh auto;
    }

    & .with-toggle {
      width: 100%;
      justify-content: center;
      gap: 1vh;
      min-height: 8vh;
      margin-bottom: 2vh;

      & .innerToggle {
        width: 60%;
        max-width: 200px;
      }

      & .innerToggle > p {
        font-weight: 600;
      }

      & .horaireOuvert {
        width: 100%;
        justify-content: center;
        gap: 3vw;
      }
    }
  }
}
