.contact-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $second;

  section {
    padding-top: 40px;
    width: 85%;
    padding-bottom: 40px;

    h3 {
      font-weight: 700;
      font-size: 2em;
    }
  }

  .aide {
    p {
      margin-top: 20px;
      font-size: 1.25em;
      line-height: 1.5em;
    }
  }

  #contact {
    #question {
      margin-top: 20px;
      font-size: 1.25em;
      line-height: 1.5em;
    }

    .formContact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 30px;
      border: solid 1px $third;
      padding: 30px 40px;
      border-radius: 25px;

      .formContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        column-gap: 100px;
        width: 100%;

        .divName {
          grid-column: 1;
          grid-row: 1;
          display: flex;
          flex-direction: column;

          .labelForm {
            width: 50%;
            height: 30px;
            font-weight: 500;
          }

          #userName {
            height: 30px;
            border: solid 1px $grey;
            border-radius: 10px;
            padding: 15px;
          }
        }

        .divFirstName {
          grid-column: 2;
          grid-row: 1;
          display: flex;
          flex-direction: column;

          .labelForm {
            width: 50%;
            height: 30px;
            font-weight: 500;
          }

          #userFirstName {
            height: 30px;
            border: solid 1px $grey;
            border-radius: 10px;
            padding: 15px;
          }
        }

        .divEmail {
          grid-column: 1 / 3;
          grid-row: 2;
          display: flex;
          flex-direction: column;
          height: 80px;

          .labelForm {
            width: 100%;
            height: 30px;
            font-weight: 500;
          }

          #userMail {
            height: 30px;
            border: solid 1px $grey;
            border-radius: 10px;
            padding: 15px;
          }
        }

        .divObject {
          grid-column: 1 / 3;
          grid-row: 3;
          display: flex;
          flex-direction: column;
          height: 80px;

          .labelForm {
            width: 100%;
            height: 30px;
            font-weight: 500;
          }

          .object-select {
            background: none;
            height: 30px;
            border: solid 1px $grey;
            border-radius: 10px;
            padding: 0px 15px;
          }
        }

        .divMessage {
          grid-column: 1/3;
          grid-row: 4;
          display: flex;
          flex-direction: column;
          height: auto;

          .labelForm {
            width: 100%;
            height: 30px;
            font-weight: 500;
          }

          #formulaireMessage {
            width: 100%;
            height: 150px;
            border: solid 1px $grey;
            border-radius: 10px;
            padding: 15px;
          }
        }

        .policyTextDiv {
          grid-column: 1/3;
          grid-row: 5;
          margin: 20px;
          display: inline;

          p {
            font-size: 1.25em;
            line-height: 1.5em;

            #checkboxPolicy {
              transform: translateY(-2px);
            }

            span {
              font-weight: 600;
              color: $third;
            }

            :hover {
              color: $fourth;
            }
          }
        }
      }

      .navBtnLite {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: $h1;
        padding: 10px 25px 10px 25px;
        border: 1px solid transparent;
        border-radius: 50px;
        background-color: $third;
        color: $white;
        font-weight: 500;
        transition: 0.3s ease-in-out;
      }
    }
  }

  #obligatoire {
    color: $fourth;
  }

  #obligatoireText {
    color: $fourth;
    font-size: smaller;
    margin-top: 10px;
  }


  @media screen and (max-width: 820px) {
    #contact {
      margin: 0;
      padding: 20px;
      width: 100%;

      #question {
        font-size: 1.25em;
        line-height: 1.5em;
      }

      .formContact {
        width: 100%;
        margin: 20px 0px;
        padding: 0, auto;
        border-radius: 25px;

        .formContainer {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-auto-rows: repeat(6, 1fr);
          column-gap: 50px;
          width: 100%;

          .divName {
            grid-row: 1;
            grid-column: 1;
            display: flex;
            width: auto;
          }

          .divFirstName {
            grid-row: 2;
            grid-column: 1;
            width: auto;

            #userFirstName {
              width: 100%;
            }
          }

          .divEmail {
            grid-row: 3;
            grid-column: 1;
            width: auto;

            #userMail {
              width: 100%;
            }
          }

          .divObject {
            grid-row: 4;
            grid-column: 1;
            width: auto;

            .object-select {
              width: 100%;
            }
          }

          .divMessage {
            grid-row: 5;
            grid-column: 1;
            width: auto;
            height: auto;

            #formulaireMessage {
              width: 100%;
            }
          }

          .policyTextDiv {
            grid-column: 1;
            grid-row: 6;
            width: 90%;
          }
        }
      }
    }
  }
}