.faq {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $second;

    section {
        padding-top: 40px;
        width: 85%;
        padding-bottom: 40px;

        h3 {
            font-weight: 700;
            font-size: 2em;
        }
    }

    .questionContainer {
        font-size: 1.5em;
        margin: 20px 0px 40px 0px;
        line-height: 2em;

        li {
            font-weight: 600;
            color: $third
        }

        :hover {
            color: $fourth
        }
    }

    .questionReponseContainer {
        p {
            font-size: 1.25em;
            line-height: 1.5em;
        }

        h4 {
            font-weight: 700;
            font-size: 1.5em;
            padding-top: 50px;
        }


        a {
            font-weight: 600;

            color: $third;

            &:hover {
                color: $fourth
            }
        }
    }
}