.bar-completion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-radius: 20px;
  height: 70px;
  overflow: hidden;
  position: relative;

  a {
    width: 100%;
  }

  p {
    display: flex;
    align-items: center;
    height: 70px;
    color: var(--second);

    span {
      padding: 0 0.5rem;
    }

    &:nth-child(2) {
      text-align: right;
      position: absolute;
      right: 0px;
      top: 0;
    }
  }

  &:nth-child(1) {
    background-color: var(--blue);
    p:nth-child(1) {
      background-color: var(--blue);
      filter: grayscale(0.5);
    }
  }
  &:nth-child(2) {
    background-color: var(--green);
    p:nth-child(1) {
      background-color: var(--green);
      filter: grayscale(0.5);
    }
  }
  &:nth-child(3) {
    background-color: var(--orange);
    p:nth-child(1) {
      background-color: var(--orange);
      filter: grayscale(0.5);
    }
  }
}
