.header {
  width: 85%;
  height: 85vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: var(--background);

  & .leftPart {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    flex: 2;

    & h1 {
      width: 80%;
      font-size: 2.5rem;
      font-family: var(--text);
      color: var(--front);
    }

    & .headerInputs {
      & button {
        width: 200px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 15px;
        position: relative;
        border-radius: 50px;
        background-color: var(--third);
        color: var(--background);
        grid-area: button;
        cursor: pointer;

        & span {
          font-size: var(--h4);
        }
      }
    }
  }
  & .imageContainer {
    flex: 1;
    & img {
      width: 25vw;
    }
  }
}
@keyframes slideDown {
  from {
    transform: translate(0px, 0px) rotate(90deg);
  }

  to {
    transform: translate(0px, 3vh) rotate(90deg);
  }
}

.scrollDown {
  font-size: 3rem;
  color: var(--third);
  text-align: center;
  height: 45px;
  width: 65px;
  position: fixed;
  left: calc(50vw - (65px / 2));
  top: 85vh;
  margin: 0;
  padding: 0;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.headerPro {
  width: 85%;
  height: 85vh;
  margin: 0 auto 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 160px;

  & .headerProMain {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 70px 0;
    gap: 30px;

    & h1 {
      font-size: 80px;
    }

    & p {
      line-height: 1.5;
      font-size: var(--h4);
    }

    & button {
      padding: 10px 25px 10px 25px;
      background: var(--third);
      color: var(--background);
      border: 1px solid transparent;
      border-radius: 50px;
      font-weight: 500;
      font-size: var(--h4);
      transition: 0.3s ease-in-out;

      &:hover {
        background: none;
        color: var(--front);
        border: 1px solid var(--third);
      }
    }
  }

  & img {
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    width: 95%;
    gap: 2vh;

    & .leftPart {
      margin-top: 2vh;
      height: fit-content;

      & .headerInputs {
        & button {
          width: fit-content;
          justify-self: center;
          padding: 15px 35px;
          border-radius: 50px;
          justify-content: center;
          margin-left: 0;
          font-size: 20px;
        }
      }
    }
  }

  .headerPro {
    margin-bottom: 0;
    align-items: center;

    & .headerProMain {
      margin: 0;
    }
  }
  .scrollDown {
    top: 90vh;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    width: 95%;
    flex-direction: column;

    & .leftPart {
      flex: 1;
      align-items: center;

      & h1 {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
      }

      & .headerInputs {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    & .imageContainer {
      flex: 2;
      height: 70vw;

      & img {
        width: 70vw;
      }
    }
  }

  .headerPro {
    padding: 4vh 0;

    & .headerProMain {
      align-items: center;

      & h1 {
        font-size: 60px;
        text-align: center;
      }

      & p {
        font-size: var(--normal);
      }
    }
    & img {
      width: 30vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    & h1 {
      text-align: center;
    }
  }

  .headerPro {
    & img {
      display: none;
    }
  }
}
