.messageAdmin {
  width: 100%;

  .messageAdminList {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;

    h1 {
      font-size: 2em;
      font-weight: 600;
    }

    .messageAdminListBis {
      width: 85%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    li {
      width: 100%;
      list-style: none;
      padding: 10px;
      border: 2px solid $third;
      border-radius: 5px;

      .messageListAdminContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .messageListAdminHeader {
          padding: 15px;
          gap: 20px;
          width: 25%;

          h4 {
            font-size: 1.15em;
            font-weight: 500;
            color: $third;
            margin-bottom: 10px;
          }

          .messageListEmail {
            color: $fourth;
            font-size: 0.75em;
            overflow: hidden;
          }
        }

        .optionSelected {
          width: 25%;
          font-weight: 500;
        }

        .messageListAdminBody {
          width: 50%;
          height: auto;
        }

        .adminMessageBtn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 200px;

          & #btnRepondre {
            padding: 5px 0;
            width: 150px;
            height: 40px;
            background-color: $fifth;
            color: $white;
            font-weight: 500;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: 0.3s ease-in-out;

            &:hover {
              border: 1px solid $fifth;
              background-color: transparent;
              color: $fifth;
            }
          }

          #btnDelete {
            padding: 5px 0;
            width: 150px;
            height: 40px;
            background-color: $seventh;
            color: $white;
            font-weight: 500;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: 0.3s ease-in-out;

            &:hover {
              border: 1px solid $seventh;
              background-color: transparent;
              color: $seventh;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    .messageAdminList {

      .messageAdminListBis {
        width: 95%;

        .messageListAdminContainer {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: repeat(4, 1fr);
          gap: 10px;

          .messageListAdminHeader {
            width: 100%;
            grid-column: 1 / 4;
            grid-row: 1;
            display: flex;
            flex-direction: column;

            h4 {
              font-size: 1.25em;
              margin: 0 auto;
            }

            .messageListEmail {
              color: $fourth;
              font-size: 0.75em;
              overflow: visible;
              margin: 0 auto;
            }
          }

          .optionSelected {
            grid-column: 1 / 4;
            grid-row: 2;
            margin: 0;
            width: 95%;
            font-weight: 500;
          }

          .messageListAdminBody {
            grid-column: 1 / 4;
            grid-row: 3;
            width: 95%;
          }

          .adminMessageBtn {
            grid-column: 1 / 4;
            grid-row: 4;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            margin-top: 10px;

            #btnDelete {
              width: 100px;
              height: 40px;
            }

            #btnRepondre {
              width: 100px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}