.modalAdminDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 200px;
  animation: moveDown 0.8s forwards;
  background-color: white;

  @keyframes moveDown {
    0% {
      transform: translate(-50%, -300%);
    }

    100% {
      transform: translate(-50%, -50%);
    }
  }

  .modalAdminContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modalAdminHeader {
      display: flex;
      align-items: center;
      flex-direction: column;

      h4 {
        font-size: 1.5em;
        font-weight: 600;
      }
    }

    .modalAdminBody {
      font-size: 1.15em;
      margin-bottom: 10px;
      margin-bottom: 15px;

      p {
        margin: 30px 0px 20px 0px;
      }
    }

    .modalAdminBtns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 100px;
      width: 100%;
      gap: 300px;

      #btnRepondre {
        padding: 5px 0;
        width: 300px;
        background-color: $fifth;
        color: $white;
        font-weight: 500;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        border: 1px solid transparent;
        border-radius: 5px;

        &:hover {
          border: 1px solid $fifth;
          background-color: transparent;
          color: $fifth;
        }
      }

      #btnDelete {
        padding: 5px 0;
        width: 300px;
        background-color: $seventh;
        color: $white;
        font-weight: 500;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: 0.3s ease-in-out;

        &:hover {
          border: 1px solid $seventh;
          background-color: transparent;
          color: $seventh;
        }
      }
    }
  }
}
