.formCo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .formSwitch {
    position: absolute;
    top: 20px;
    right: 20px;

    & a {
      color: $third;
      font-weight: 700;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease-in-out;

      &:hover {
        border-bottom: 1px solid $third;
      }
    }
  }

  & h2 {
    font-weight: 500;
    font-size: $h3;
    margin-bottom: 30px;
  }

  & form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & input:not([type="checkbox"]) {
      padding: 10px 15px;
      border: 1px solid $grey;
      border-radius: 5px;
      outline: none;

      &:focus {
        border: 1px solid $third;
      }
    }

    & .passwordInput {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & input {
        width: 100%;
      }

      & button {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 15px;
        background: none;
        color: $second;
        font-size: $normal;
      }
    }

    & .passwordCondition {
      display: flex;
      align-items: center;
      gap: 3px;
      font-size: $xs;
      margin-top: -10px;
    }

    & .inputCheck {
      & label {
        margin-left: 5px;
      }
    }

    & .btnSubmit {
      margin-top: 10px;
      background: $third;
      color: $white;
      padding: 10px 0;
      font-size: $h3;
      font-weight: 700;
      border: 1px solid transparent;
      border-radius: 5px;
      transition: 0.3s ease-in-out;

      &:hover {
        background: $white;
        color: $third;
        border: 1px solid $third;
      }

      &:disabled:hover {
        background: $third;
        color: $white;
      }
    }
  }
}
