.loginParams {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
  gap: 30px;

  span {
    font-weight: 800;
    font-size: 1.15em;
  }

  & .loginParamsTitle {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h2 {
      font-size: var(--h2);
      font-weight: 700;
    }

    & p {
      font-size: var(--small);
    }
  }

  & .loginParamsDetails {
    display: flex;
    gap: 30px;
    flex-direction: column;

    & details {
      & summary {
        font-size: var(--h3);
        font-weight: 500;

        &::marker {
          color: var(--third);
        }
      }

      & a {
        display: block;
        width: fit-content;
        margin-bottom: 10px;
        margin-left: 20px;
        border-bottom: 1px solid var(--front);
        font-weight: 500;

        &:first-of-type {
          margin-top: 10px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  & .loginParamsBtn {
    padding: 15px 20px;
    background-color: var(--third);
    border: 1px solid transparent;
    border-radius: 50px;
    font-size: var(--h4);
    font-weight: 700;
    color: var(--background);
    transition: 0.3s ease-in-out;

    &:hover {
      color: var(--third);
      background-color: var(--background);
      border: 1px solid var(--third);
    }
  }
}
