.dashNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15vw;
  background: $gradient;
  padding: 15px;
  color: $white;

  & .dashNavLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;

    & img {
      width: 15%;
    }

    & h2 {
      font-size: $h3;
      font-weight: 500;

      & span {
        padding: 0 5px;
        font-size: $normal;
        border: 1px solid $white;
        border-radius: 50px;
      }
    }
  }

  & .dashNavList {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;

    & li {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 50px;

      & button {
        border-bottom: 1px solid transparent;
        background: none;
        transition: 0.3s ease-in-out;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }

    & .selected {
      background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
      color: $third;

      & button {
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }

  & .dashNavParams {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    bottom: 20px;
    font-weight: 500;

    & button {
      display: flex;
      gap: 5px;
      background: none;
    }
  }
}
